.wedding-container {
  text-align: center;
  background-color: #292925;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Brush Script MT', cursive;
  color: #9b9b6f;
  overflow-y: scroll;
}
